@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway');

.lijst
{
    text-align: center;
    margin: 30px 0;
    height: 100%;
}
 
.lijst li
{
    display: inline-block;
    margin-top: 20px;
}

.lijst li img
{
    width: 200px;
    height: auto;
    margin:0px 5px;
    cursor: pointer;
}



.overlay{
    margin: 0 auto;
    width: 200px;
    padding: 15px 0;
    margin-top: -49px;
    color: white;
    background-color: grey;
    opacity: 0.7;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}



@media(min-width:600px){
    .lijst li img{
        width: 300px;
    }
    
    .overlay{
        width: 300px;
        font-size: 1.2em;
        margin-top: -51px;
    }
}

